@import 'reset';


*, *:before, *:after {
    box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

html, body {
	position: relative;
}

@import 'settings';
@import 'mixins';
@import 'extends';
@import 'keyframes';

body {
  	font-family: $base-font-family;
	font-size: $base-font-size+px;
	line-height: $base-line-height;
	background-color: $base-bg;
  	font-weight: $base-font-weight;
  	margin: 0 auto;
	color: $base-color;
}

.wrp {
	position: relative;
}

.cntr {
	max-width: $default-container+px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: $default-pl+px;
	padding-right: $default-pl+px;
}

.cntr-1170 {
	max-width: $container-1170+px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: $default-pl+px;
	padding-right: $default-pl+px;
}

.cntr-1024 {
	max-width: $container-1024+px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: $default-pl+px;
	padding-right: $default-pl+px;
}

.cntr-960 {
	max-width: $container-960+px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: $default-pl+px;
	padding-right: $default-pl+px;
}

.cntr-fluid {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.t-red{
	color: #c11920;
	position: absolute;
	width: 100%;
	top: -30px;
	@include mq(max, $mq_md){
		font-size: 12px;
		line-height: 18px;
		text-align: left !important;
		position: relative;
		top: 0;
		margin-bottom: 20px;
	}
}