.kpc-footer{
    background-color: #eeeeee;
    .kpc-footer-cont{
        padding-top: calc(30px + (60 - 30) * ((100vw - 320px) / (2000 - 320)));
        padding-bottom: calc(30px + (60 - 30) * ((100vw - 320px) / (2000 - 320)));
        .kpc-footer-img{
            display: flex;
            align-items: center;
            justify-content: center;
            @include mq(max, $mq_md){
                margin-bottom: 20px;
            }
            img{
                @include mq(max, $mq_md - 1){
                    width: auto;
                }
                @include mq(max, 414){
                    width: 220px;
                }
            }
        }
        .footer-contact-row{
            display: flex;
            margin-bottom: 10px;
            .footer-contact-tit{
                font-family: "DINPro-Bold";
                text-transform: uppercase;
                width: 60px;
                margin-right: 10px;
            }
            .footer-contact-list{
                li, a{
                    color: #000;
                    text-decoration: none;
                }
                li{
                    &:last-child{
                        a{
                            margin-bottom: 0;
                        }
                    }
                    a{
                        display: inline-block;
                        margin-bottom: 5px;
                        @include mq(max, 414){
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .kpc-partner{
        padding: 10px 0;
        border-left: 2px solid #000;
        position: relative;
        @include mq(max, $mq_md - 1){
            border-left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-left: -15px;
            margin-right: -15px;
            padding-top: 25px;
            padding-bottom: 10px;
        }
        &::before{
            @include mq(max, $mq_md - 1){
                content: "";
                height: 1px;
                top: 0;
                background-color: #000;
                width: 90%;
                position: absolute;
            }
        }
        li{
            margin-bottom: 15px;
            @include mq(max, $mq_md - 1){
                margin-bottom: 0;
                padding-left: 15px;
                padding-right: 15px;
                flex: 0 0 50%;
                max-width: 50%;
            }
            &:last-child{
                margin-bottom: 0;
            }
            a{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                @include mq(max, $mq_md){
                    justify-content: center;
                }
                img{
                    width: 80%;
                    @include mq(max, $mq_md - 1){
                        width: 100%;
                    }
                }
            }
        }
    }
    .kpc-copyright{
        background-color: #000;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'DINPro-Bold';
        font-size: 12px;
        padding: 10px 0;
        @include mq(max, 414){
            font-size: 10px;
        }
    }
}