// Language
.kpc-lang{
    position: relative;
    @include mq(max, $mq_md){
        display: none;
    }
    &::before{
        content: "\25BC";
        position: absolute;
        color: #fff;
        right: 0;
        z-index: 1;
        cursor: pointer;
        pointer-events: none;
    }
    select{
        background-color: transparent;
        border: none;
        color: #fff;
        font-family: "DINPro-Bold";
        font-size: 16px;
        width: 40px;
        z-index: 2;
        option{
            color: #000;
            text-align: center;
        }
    }
}

.kpc-mail{
    color: #fff;
    display: none;
    align-items: center;
    font-size: 40px;
    @include mq(max, $mq_md){
        display: flex;
    }
    @include mq(max, 375){
        font-size: 30px;
    }
}

.kpc-scroll-to-top{
    a{
        display: none;
        align-items: center;
        background-color: #4d4d4d;
        position: fixed;
        top: 510px;
        right: -1px;
        transform: rotate(-90deg);
        padding: 39px 35px;
        z-index: 9;
        @include mq(max, $mq_md){
            padding: 20px 20px;
        }
        @include mq(max, 500){
            padding: 15px 15px;
        }
        img{
            position: relative;
            top: 3px;
        }
    }
}
// End of Language

// News
.kpc-news{
    background-color: #eeeeee;
    padding-top: 50px;
    padding-bottom: 50px;
}

.kpc-news-row{
    display: flex;
    flex-wrap: wrap;
    .kpc-tit{
        flex: 0 0 25%;
        max-width: 25%;
        margin-bottom: 0;
        @include mq(max, $mq_md){
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 30px;
        }
        h3{
            text-align: left;
        }
    }
    .kpc-news-cont{
        display: flex;
        flex: 0 0 75%;
        max-width: 75%;
        @include mq(max, $mq_md){
            flex: 0 0 100%;
            max-width: 100%;
            display: inline-block;
        }
        .kpc-news-date{
            font-family: 'DINPro-Bold';
            font-weight: bold;
            font-size: 18px;
            margin-right: 20px;
            @include mq(max, $mq_md){
                display: inline-block;
                margin-bottom: 10px;
            }
        }
    }
}
// End of News

// Concept
.kpc-concept{
    background-image: url('../img/concept/concept-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center calc(100px + (150 - 100) * ((100vw - 320px) / (2000 - 320)));
    padding-top: calc(50px + (90 - 50) * ((100vw - 320px) / (2000 - 320)));
    padding-bottom: calc(50px + (80 - 50) * ((100vw - 320px) / (2000 - 320)));
    @include mq(min, 2000){
        background-size: cover;
    }
    @include mq(max, 970){
        background-size: contain;
    }
    .kpc-con-txt{
        display: inline-block;
        font-size: calc(14px + (36 - 14) * ((100vw - 320px) / (2000 - 320)));
        line-height: calc(20px + (46 - 20) * ((100vw - 320px) / (2000 - 320)));
        margin-top: calc(10px + (100 - 10) * ((100vw - 320px) / (2000 - 320)));
    }
    .kpc-con-cont{
        background-color: rgba(255,255,255,0.6);
        padding: calc(10px + (50 - 10) * ((100vw - 320px) / (2000 - 320)));
        margin-left: auto;
        margin-top: calc(120px + (550 - 120) * ((100vw - 320px) / (2000 - 320)));
        margin-bottom: calc(40px + (70 - 40) * ((100vw - 320px) / (2000 - 320)));
        max-width: 880px;
        width: 100%;
    }
    .kpc-con-circ{
        max-width: 960px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .kpc-con-box{
        text-align: center;
        @include mq(max, $mq_md){
            margin-bottom: 30px;
        }
        .kpc-con-img{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            img{
                width: 100%;
                @include mq(max, $mq_md){
                    width: auto;
                }
                @include mq(max, 450){
                    width: 220px;
                }
            }
        }
        .kpc-con-tit{
            color: #00446c;
            font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (2000 - 320)));
            font-family: 'DINPro-Bold';
            font-weight: bold;
            margin-bottom: 15px;
            text-transform: uppercase;
        }
    }
}

.kpc-con-circ-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
    @include mq(max, 984){
        margin-left: -15px;
        margin-right: -15px;
    }
    .kpc-con-circ-md{
        flex: 0 0 33.333%;
        max-width: 0 0 33.333%;
        padding-left: 30px;
        padding-right: 30px;
        @include mq(max, 984){
            padding-left: 15px;
            padding-right: 15px;
        }
        @include mq(max, $mq_md){
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}
// End of Concept

// Service
.kpc-service{
    background-color: #eeeeee;
    padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
    padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
    position: relative;
    z-index: 1;
    overflow: hidden;
    .kpc-service-box{
        background-color: #fff;
        padding: calc(20px + (60 - 20) * ((100vw - 320px) / (2000 - 320))) 80px;
        z-index: 2;
        position: relative;
        @include mq(max, 375){
            padding: 20px 40px;
        }
        .kpc-desc{
            margin-bottom: calc(50px + (80 - 50) * ((100vw - 320px) / (2000 - 320)));
        }
    }
    .kpc-serv-plan-box{
        max-width: 730px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .kpc-plan-cont{
        text-align: center;
        @include mq(max, $mq_md){
            margin-bottom: 30px;
        }
        .kpc-plan-img{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
        }
        .kpc-desc{
            margin-bottom: 0;
            @include mq(max, $mq_md){
                font-size: 14px;
            }
        }
    }
    .kpc-btn{
        margin-top: calc(50px + (80 - 50) * ((100vw - 320px) / (2000 - 320)));
    }
}

.kpc-plan-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    .kpc-plan-md{
        flex: 0 0 25%;
        max-width: 25%;
        padding-left: 15px;
        padding-right: 15px;
        @include mq(max, $mq_md){
            flex: 0 0 50%;
            max-width: 50%;
        }
        @include mq(max, 375){
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

.kpc-float-box1{
    background-color: #cccccc;
    position: absolute;
    right: 0;
    top: 0;
    width: 600px;
    height: 220px;
    z-index: -1;
    @include mq(max, $mq_md){
        width: 300px;
        height: 100px;
    }
}

.kpc-float-box2{
    background-color: #999999;
    position: absolute;
    right: 50px;
    bottom: 0;
    width: 280px;
    height: 225px;
    z-index: -1;
    @include mq(max, 1250){
        right: 0;
        bottom: 30px;
        height: 220px;
        width: 170px;
    }
    @include mq(max, $mq_md){
        height: 120px;
        width: 150px;
    }
}

.kpc-float-box3{
    background-color: #cccccc;
    position: absolute;
    left: 22%;
    bottom: 15px;
    margin: auto;
    width: 280px;
    height: 225px;
    z-index: -1;
    @include mq(max, 650){
        left: 0;
        width: 140px;
        height: 140px;
    }
}

.kpc-float-box4{
    background-color: #4c4c4c;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 160px;
    height: 395px;
    z-index: 4;
    @include mq(max, 1250){
        width: 80px;
        height: 250px;
        bottom: auto;
        top: 20%;
    }
    @include mq(max, $mq_md){
        width: 35px;
        top: 14%;
    }
    @include mq(max, 375){
        width: 25px;
    }
}

.kpc-float-box5{
    background-color: #4c4c4c;
    position: absolute;
    right: 0;
    top: 300px;
    margin: auto;
    width: 150px;
    height: 220px;
    z-index: 4;
    @include mq(max, 1250){
        width: 80px;
        top: 24%;
    }
    @include mq(max, $mq_md){
        width: 40px;
        top: 17%;
        height: 220px;
    }
    @include mq(max, $mq_md){
        top: 13%;
    }
    @include mq(max, 375){
        top: 10%;
        width: 25px;
        height: 180px;
    }
}

.kpc-float-box6{
    background-color: #999999;
    position: absolute;
    right: -20px;
    top: 75px;
    margin: auto;
    width: 180px;
    height: 180px;
    z-index: 3;
    @include mq(max, 1250){
        width: 100px;
        height: 100px;
    }
    @include mq(max, $mq_md){
        width: 60px;
        height: 60px;
    }
    @include mq(max, 375){
        width: 40px;
        height: 40px;
    }
}

.kpc-float-box7{
    background-color: #999999;
    position: absolute;
    left: -40px;
    bottom: 120px;
    margin: auto;
    width: 180px;
    height: 180px;
    z-index: 3;
    @include mq(max, 1250){
        width: 120px;
        height: 120px;
        bottom: 50%;
    }
    @include mq(max, $mq_md){
        width: 80px;
        height: 80px;
        bottom: 60%;
    }
    @include mq(max, 375){
        bottom: 68%;
        width: 60px;
        height: 60px;
    }
}

.kpc-table-responsive{
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.kpc-table{
    width: 100%;
    @include mq(max, 1024){
        width: 150%;
    }
    @include mq(max, $mq_md){
        width: 200%;
    }
    @include mq(max, 510){
        width: 300%;
    }
    @include mq(max, 350){
        width: 400%;
    }
    thead{
        background-color: #4d4d4d;
        tr{
            th{
                &:first-child{
                    width: 150px;
                }
                h3{
                    padding: 15px 15px;
                }
            }
        }
    }
    tbody{
        tr{
            border-bottom: 1px solid #000;
            &:last-child{
                border-bottom: 4px solid #000;
            }
            td{
                padding: 15px 0;
                &:first-child{
                    max-width: 150px;
                    .kpc-table-padd{
                        border-right: 0;
                    }
                }
                .kpc-table-padd{
                    border-right: 1px solid #000;
                }
                &:last-child{
                    .kpc-table-padd{
                        border-right: 0;
                    }
                }
            }
        }
        .kpc-table-ico{
            display: flex;
            align-items: center;
            small{
                line-height: 18px;
                margin-top: 0;
                margin-left: 20px;
                text-align: left;
            }
        }
        .kpc-table-padd{
            padding: 5px 15px;
            h3{
                font-size: 24px;
                font-weight: bold;
                small{
                    display: inline;
                }
            }
        }
    }
    .kpc-table-head-tit{
        color: #fff;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        small{
            margin-top: 0;
            text-align: center;
        }
    }
}

.kpc-meeting-event{
    margin-top: 30px;
    margin-bottom: 30px;
}
// End of Service

// Members
.kpc-members{
    background-image: url('../img/members/members-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
    padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
    position: relative;
    z-index: 1;
    .kpc-btn{
        margin-top: 80px;
    }
}
// End of Members

// Contact
.kpc-contact{
    background-color: #4d4d4d;
    color: #fff;
    padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
    padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
    position: relative;
    z-index: 1;
    .kpc-desc{
        margin-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
    }
}
// End of Contact

// Access
.kpc-access{
    padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
    padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
    .kpc-desc{
        margin-bottom: 20px;
    }
    .kpc-access-map{
        display: flex;
        align-items: center;
    }
}
// End of Access

// Plan
.kpc-plan{
    padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
    padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
}
// End of Plan

// Floor Guide
.kpc-floor-guide{
    padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
    padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
}

.kpc-space{
    padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
    padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
}
// End of Floor Guide