
@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

@import 'global/base';

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  position: relative;
}

@font-face {
  font-family: 'DINPro-Bold';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/DINPro-Bold_13934.woff") format("woff"), url("fonts/FontsFree-Net-DINPro-Bold.woff") format("woff");
}

.box-450 {
  max-width: 450px;
}

.box-20per {
  max-width: 20%;
}

.box-30 {
  max-width: 30px;
}

/* Smartphones (portrait and landscape) ----------- */
/* iPads (portrait and landscape) ----------- */
/* Large screens ----------- */
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
  }
  25% {
    -webkit-transform: translateY(-10%);
       -moz-transform: translateY(-10%);
         -o-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
  }
  75% {
    -webkit-transform: translateY(-10%);
       -moz-transform: translateY(-10%);
         -o-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", HelveticaNeue, "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "Sogoe UI", Verdana, "メイリオ", Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  background-color: #fff;
  font-weight: normal;
  margin: 0 auto;
  color: #000000;
}

.wrp {
  position: relative;
}

.cntr {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.cntr-1170 {
  max-width: 1170px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.cntr-1024 {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.cntr-960 {
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.cntr-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.t-red {
  color: #c11920;
  position: absolute;
  width: 100%;
  top: -30px;
}

.t-red.t-red-under{
  position: static;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .t-red {
    font-size: 12px;
    line-height: 18px;
    text-align: left !important;
    position: relative;
    top: 0;
    margin-bottom: 20px;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  position: relative;
}

@font-face {
  font-family: 'DINPro-Bold';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/DINPro-Bold_13934.woff") format("woff"), url("fonts/FontsFree-Net-DINPro-Bold.woff") format("woff");
}

.box-450 {
  max-width: 450px;
}

.box-20per {
  max-width: 20%;
}

.box-30 {
  max-width: 30px;
}

main {
  position: relative;
}

/* Smartphones (portrait and landscape) ----------- */
/* iPads (portrait and landscape) ----------- */
/* Large screens ----------- */
.dflex-ai {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dflex-end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  25% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  75% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@-moz-keyframes bounce {
  0% {
    -moz-transform: translateY(0%);
    transform: translateY(0%);
  }
  25% {
    -moz-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  50% {
    -moz-transform: translateY(0%);
    transform: translateY(0%);
  }
  75% {
    -moz-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  100% {
    -moz-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@-o-keyframes bounce {
  0% {
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
  25% {
    -o-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  50% {
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
  75% {
    -o-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  100% {
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
  25% {
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -o-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
  75% {
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -o-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", HelveticaNeue, "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "Sogoe UI", Verdana, "メイリオ", Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  background-color: #fff;
  font-weight: normal;
  margin: 0 auto;
  color: #000000;
}

.wrp {
  position: relative;
}

.cntr {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.cntr-1170 {
  max-width: 1170px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.cntr-1024 {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.cntr-960 {
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.cntr-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.t-red {
  color: #c11920;
  position: absolute;
  width: 100%;
  top: -30px;
}

@media (max-width: 768px) {
  .t-red {
    font-size: 12px;
    line-height: 18px;
    text-align: left !important;
    position: relative;
    top: 0;
    margin-bottom: 20px;
  }
}

/** LAYOUTS **/
.gap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  /*gaps*/
  /*
	*
	* How to use gap classes :
	*
	*  Ex: <div class="gap gap-2 gap-0-xs">
	*			<div class="md-6 xs-12"></div>
	*			<div class="md-6 xs-12"></div>
	*		</div>
	*
	*/
  /********/
  /* EXTRA SMALL DEVICES */
  /********/
  /********/
  /* SMALL DEVICES */
  /********/
  /********/
  /* MEDIUM DEVICES */
  /********/
  /********/
  /* EXTRA SMALL DEVICES */
  /********/
  /********/
  /* SMALL DEVICES */
  /********/
  /********/
  /* MEDIUM DEVICES */
  /********/
}

.gap.gap-0-xs {
  margin-left: 0px;
  margin-right: 0px;
}

.gap.gap-0-xs > [class^="xs"] {
  padding-left: 0px;
  padding-right: 0px;
}

.gap.gap-0-xs > [class*=" xs"] {
  padding-left: 0px;
  padding-right: 0px;
}

.gap.gap-10-xs {
  margin-left: -10px;
  margin-right: -10px;
}

.gap.gap-10-xs > [class^="xs"] {
  padding-left: 10px;
  padding-right: 10px;
}

.gap.gap-10-xs > [class*=" xs"] {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 569px) {
  .gap.gap-0-sm {
    margin-left: 0px;
    margin-right: 0px;
  }
  .gap.gap-0-sm > [class^="sm"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-0-sm > [class*=" sm"] {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 768px) {
  .gap.gap-0 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .gap.gap-0 > [class^="md"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-0 > [class*=" md"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-10 {
    margin-left: -10px;
    margin-right: -10px;
  }
  .gap.gap-10 > [class^="md"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gap.gap-10 > [class*=" md"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gap.gap-15 {
    margin-left: -15px;
    margin-right: -15px;
  }
  .gap.gap-15 > [class^="md"] {
    padding-left: 15px;
    padding-right: 15px;
  }
  .gap.gap-15 > [class*=" md"] {
    padding-left: 15px;
    padding-right: 15px;
  }
  .gap.gap-20 {
    margin-left: -20px;
    margin-right: -20px;
  }
  .gap.gap-20 > [class^="md"] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .gap.gap-20 > [class*=" md"] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .gap.gap-30 {
    margin-left: -30px;
    margin-right: -30px;
  }
  .gap.gap-30 > [class^="md"] {
    padding-left: 30px;
    padding-right: 30px;
  }
  .gap.gap-30 > [class*=" md"] {
    padding-left: 30px;
    padding-right: 30px;
  }
  .gap.gap-40 {
    margin-left: -40px;
    margin-right: -40px;
  }
  .gap.gap-40 > [class^="md"] {
    padding-left: 40px;
    padding-right: 40px;
  }
  .gap.gap-40 > [class*=" md"] {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.gap .xs-0 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 0%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 0%;
  flex: 0 0 0%;
  max-width: 0%;
}

.gap .xs-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.gap .xs-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 569px) {
  .gap .sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .gap .sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .gap .md-0 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 0%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 0%;
    flex: 0 0 0%;
    max-width: 0%;
  }
  .gap .md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .gap .md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .gap .md-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .gap .md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .gap .md-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .gap .md-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .gap .md-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .gap .md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.menu-header {
  background-color: #000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
}

@media (max-width: 768px) {
  .menu-header .navbar .cntr {
    padding: 0;
  }
}

.menu-header .navbar .navbar-toggler {
  display: none;
}

.menu-header .navbar .navbar-toggler:focus{
  outline: none;
}

@media (max-width: 768px) {
  .menu-header .navbar .navbar-toggler {
    display: block;
    background-color: #000;
    border: none;
    cursor: pointer;
    padding: 20px 20px;
    position: relative;
    z-index: 9;
  }
}

.menu-header .navbar .navbar-toggler.is-toggled {
  padding: 20px 20px;
  background-color: transparent;
}

.menu-header .navbar .navbar-toggler.is-toggled .navbar-toggler-box .navbar-toggler-icon {
  background-color: transparent;
}

.menu-header .navbar .navbar-toggler.is-toggled .navbar-toggler-box .navbar-toggler-icon::before {
  top: 2px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.menu-header .navbar .navbar-toggler.is-toggled .navbar-toggler-box .navbar-toggler-icon::after {
  bottom: -2px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.menu-header .navbar .navbar-toggler .navbar-toggler-box {
  width: 50px;
  height: 24px;
  display: inline-block;
  position: relative;
  top: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@media (max-width: 375px) {
  .menu-header .navbar .navbar-toggler .navbar-toggler-box {
    width: 25px;
  }
}

.menu-header .navbar .navbar-toggler .navbar-toggler-box .navbar-toggler-icon {
  display: block;
  top: 50%;
  margin-top: -2px;
  height: 2px;
  background-color: #fff;
  position: relative;
}

.menu-header .navbar .navbar-toggler .navbar-toggler-box .navbar-toggler-icon::before, .menu-header .navbar .navbar-toggler .navbar-toggler-box .navbar-toggler-icon::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@media (max-width: 375px) {
  .menu-header .navbar .navbar-toggler .navbar-toggler-box .navbar-toggler-icon::before, .menu-header .navbar .navbar-toggler .navbar-toggler-box .navbar-toggler-icon::after {
    width: 25px;
  }
}

.menu-header .navbar .navbar-toggler .navbar-toggler-box .navbar-toggler-icon::before {
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
  top: -10px;
}

.menu-header .navbar .navbar-toggler .navbar-toggler-box .navbar-toggler-icon::after {
  bottom: -10px;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.menu-header .navbar .navbar-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu-header .navbar .navbar-group .navbar-brand {
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .menu-header .navbar .navbar-group .navbar-brand {
    padding-left: 15px;
  }
}

.menu-header .navbar .navbar-group .navbar-brand .logo {
  text-decoration: none;
  color: #333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-header .navbar .navbar-group .navbar-brand .logo img {
  width: 230px;
}

@media (max-width: 870px) {
  .menu-header .navbar .navbar-group .navbar-brand .logo img {
    width: 200px;
  }
}

@media (max-width: 790px) {
  .menu-header .navbar .navbar-group .navbar-brand .logo img {
    width: 180px;
  }
}

.menu-header .navbar .navbar-group .navbar-type .navbar-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-header .navbar .navbar-group .navbar-type .navbar-nav li .sub-menu{
  visibility: hidden;
  opacity: 0;
  display: none;
  position: absolute;
  z-index: 999;
  background-color: rgba(0,0,0,0.8);
}

.menu-header .navbar .navbar-group .navbar-type .navbar-nav li:hover .sub-menu{
  visibility: visible;
  opacity: 1;
  display: block;
}

.menu-header .navbar .navbar-group .navbar-type .navbar-nav li .sub-menu li a{
  padding: 20px 20px;
}

@media (max-width: 768px) {
  .menu-header .navbar .navbar-group .navbar-type .navbar-nav {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .menu-header .navbar .navbar-group .navbar-type .navbar-nav .menu-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.menu-header .navbar .navbar-group .navbar-type .navbar-nav .menu-item .nav-link,
.menu-header .navbar .navbar-group .navbar-type .navbar-nav .menu-item a {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "DINPro-Bold";
  padding: 40px 20px;
  text-decoration: none;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-transform: uppercase;
}

@media (max-width: 1020px) {
  .menu-header .navbar .navbar-group .navbar-type .navbar-nav .menu-item .nav-link,
  .menu-header .navbar .navbar-group .navbar-type .navbar-nav .menu-item a {
    padding: 40px 15px;
  }
}

@media (max-width: 950px) {
  .menu-header .navbar .navbar-group .navbar-type .navbar-nav .menu-item .nav-link,
  .menu-header .navbar .navbar-group .navbar-type .navbar-nav .menu-item a {
    padding: 40px 10px;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .menu-header .navbar .navbar-group .navbar-type .navbar-nav .menu-item .nav-link,
  .menu-header .navbar .navbar-group .navbar-type .navbar-nav .menu-item a {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    padding: 10px 10px;
  }
}

.menu-header .navbar .navbar-group .navbar-type .navbar-nav .menu-item .nav-link:hover,
.menu-header .navbar .navbar-group .navbar-type .navbar-nav .menu-item a:hover {
  opacity: .8;
}

@media (max-width: 768px) {
  .menu-header .navbar .navbar-group .navbar-type.navbar-slide-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.99);
    z-index: 9;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: linear .2s;
    -o-transition: linear .2s;
    -moz-transition: linear .2s;
    transition: linear .2s;
    height: 100vh;
  }
}

.menu-header .navbar .navbar-group .navbar-type.navbar-slide-right.is-toggled {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: linear .2s;
  -o-transition: linear .2s;
  -moz-transition: linear .2s;
  transition: linear .2s;
}

@media (max-width: 768px) {
  .menu-header .navbar .navbar-group .navbar-type.navbar-collapse {
    background-color: #000;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    -webkit-transition: linear .2s;
    -o-transition: linear .2s;
    -moz-transition: linear .2s;
    transition: linear .2s;
    display: none;
    opacity: 0;
  }
}

.menu-header .navbar .navbar-group .navbar-type.navbar-collapse.is-toggled {
  display: block;
  opacity: 1;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.kpc-footer {
  background-color: #eeeeee;
  position: relative;
}

.kpc-footer .kpc-footer-cont {
  padding-top: -webkit-calc(30px + (60 - 30) * ((100vw - 320px) / (2000 - 320)));
  padding-top: -moz-calc(30px + (60 - 30) * ((100vw - 320px) / (2000 - 320)));
  padding-top: calc(30px + (60 - 30) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: -webkit-calc(30px + (60 - 30) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: -moz-calc(30px + (60 - 30) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: calc(30px + (60 - 30) * ((100vw - 320px) / (2000 - 320)));
}

.kpc-footer .kpc-footer-cont .kpc-footer-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .kpc-footer .kpc-footer-cont .kpc-footer-img {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .kpc-footer .kpc-footer-cont .kpc-footer-img img {
    width: auto;
  }
}

@media (max-width: 414px) {
  .kpc-footer .kpc-footer-cont .kpc-footer-img img {
    width: 220px;
  }
}

.kpc-footer .kpc-footer-cont .gap{
  align-items: center;
}

.kpc-footer .kpc-footer-cont .footer-contact-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.kpc-footer .kpc-footer-cont .footer-contact-row .footer-contact-tit {
  font-family: "DINPro-Bold";
  text-transform: uppercase;
  width: 60px;
  margin-right: 10px;
}

.kpc-footer .kpc-footer-cont .footer-contact-row .footer-contact-list li, .kpc-footer .kpc-footer-cont .footer-contact-row .footer-contact-list a {
  color: #000;
  text-decoration: none;
}

.kpc-footer .kpc-footer-cont .footer-contact-row .footer-contact-list li:last-child a {
  margin-bottom: 0;
}

.kpc-footer .kpc-footer-cont .footer-contact-row .footer-contact-list li a {
  display: inline-block;
  margin-bottom: 5px;
}

@media (max-width: 414px) {
  .kpc-footer .kpc-footer-cont .footer-contact-row .footer-contact-list li a {
    font-size: 12px;
  }
}

.kpc-footer .kpc-partner {
  padding: 10px 0;
  border-left: 2px solid #000;
  position: relative;
}

@media (max-width: 767px) {
  .kpc-footer .kpc-partner {
    border-left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 25px;
    padding-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .kpc-footer .kpc-partner::before {
    content: "";
    height: 1px;
    top: 0;
    background-color: #000;
    width: 90%;
    position: absolute;
  }
}

.kpc-footer .kpc-partner li {
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .kpc-footer .kpc-partner li {
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 10px;
  }
}

.kpc-footer .kpc-partner li:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .kpc-footer .kpc-partner li:last-child {
    margin-bottom: 10px;
  }
}

.kpc-footer .kpc-partner li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .kpc-footer .kpc-partner li a {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.kpc-footer .kpc-partner li a img {
  width: 80%;
}

@media (max-width: 767px) {
  .kpc-footer .kpc-partner li a img {
    width: 100%;
  }
}

.kpc-footer .kpc-copyright {
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'DINPro-Bold';
  font-size: 12px;
  padding: 10px 0;
}

@media (max-width: 414px) {
  .kpc-footer .kpc-copyright {
    font-size: 10px;
  }
}

.kpc-lang {
  position: relative;
}

@media (max-width: 768px) {
  .kpc-lang {
    display: none;
  }
}

// .kpc-lang::before {
//   content: "\25BC";
//   position: absolute;
//   color: #fff;
//   right: 0;
//   z-index: 1;
//   cursor: pointer;
//   pointer-events: none;
// }

.kpc-lang .polylang-flags{
  li{
    a{
      color: #fff;
      text-decoration: none;
      font-size: 14px;
    }
  }
}

.kpc-lang select {
  background-color: transparent;
  border: none;
  color: #fff;
  font-family: "DINPro-Bold";
  font-size: 16px;
  width: 40px;
  z-index: 2;
}

.kpc-lang select option {
  color: #000;
  text-align: center;
}

.kpc-mail {
  color: #fff;
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 40px;
}

@media (max-width: 768px) {
  .kpc-mail {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 375px) {
  .kpc-mail {
    font-size: 30px;
  }
}

.kpc-scroll-to-top a {
  display: none;
  position: fixed;
  top: 510px;
  right: 0;
  z-index: 9;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

@media (max-width: 768px) {
  .kpc-scroll-to-top a {
    top: 380px;
  }
}

@media (max-width: 768px) {
  .kpc-scroll-to-top a img {
    width: 50px;
    height: 50px;
  }
}

.kpc-scroll-to-top.p-abs a {
  position: absolute;
  top: auto;
  bottom: 0;
}

.kpc-scroll-to-top a img {
  position: relative;
  top: 3px;
}

.kpc-news {
  background-color: #eeeeee;
  padding-top: 50px;
  padding-bottom: 50px;
}

.kpc-news-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.kpc-news-row .kpc-tit {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .kpc-news-row .kpc-tit {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
}

.kpc-news-row .kpc-tit h3 {
  text-align: left;
}

.kpc-news-row .kpc-news-cont {
  // display: -webkit-box;
  // display: -webkit-flex;
  // display: -moz-box;
  // display: -ms-flexbox;
  // display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
  .kpc-news-left{
    display: flex;
  }
}

.kpc-news-row .kpc-news-cont a{
  display: block;
  color: #000;
  font-weight: bold;
  text-align: right;
  padding-right: 50px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  &::before{
    content: "";
    background-image: url("../img/ico/arrow01.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 25px;
    height: 16px;
    filter: invert(100%);
  }
}

@media (max-width: 768px) {
  .kpc-news-row .kpc-news-cont {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    display: inline-block;
  }
}

.kpc-news-row .kpc-news-cont .kpc-news-date {
  font-family: 'DINPro-Bold';
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .kpc-news-row .kpc-news-cont .kpc-news-date {
    display: inline-block;
    margin-bottom: 10px;
  }
}

.kpc-list-news{
  li{
    margin-bottom: 50px;
    &:last-child{
      margin-bottom: 0;
    }
    .kpc-news-list-item{
      background-color: #eeeeee;
      color: #000;
      display: flex;
      align-items: center;
      text-decoration: none;
      @include mq(max, 1024){
        align-items: inherit;
      }
      img{
        width: 200px;
        object-fit: cover;
      }
      .kpc-list-news-cont{
        padding: 30px 30px;
        .kpc-list-news-date{
          display: block;
          font-weight: bold;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.kpc-page-news{
  .kpc-news-page-date{
    font-size: calc(20px + (25 - 20) * ((100vw - 320px) / (2000 - 320)));
    font-weight: bold;
    margin-bottom: 45px;
    text-align: center;
  }
  .kpc-page-news-img{
    display: flex;
    align-items: center;
    margin-bottom: 55px;
  }
  .kpc-btn{
    margin-top: calc(50px + (80 - 50) * ((100vw - 320px) / (2000 - 320)));
    a{
      &::before{
        display: none;
      }
    }
  }
}

.kpc-concept {
  background-image: url("../img/concept/concept-bg.png");
  background-repeat: no-repeat;
  background-size: 120%;
  // background-position: center -webkit-calc(100px + (150 - 100) * ((100vw - 320px) / (2000 - 320)));
  // background-position: center -moz-calc(100px + (150 - 100) * ((100vw - 320px) / (2000 - 320)));
  // background-position: center calc(100px + (150 - 100) * ((100vw - 320px) / (2000 - 320)));
  background-position: -370px -80px;
  padding-top: -webkit-calc(50px + (90 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-top: -moz-calc(50px + (90 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-top: calc(50px + (90 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: -webkit-calc(50px + (80 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: -moz-calc(50px + (80 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: calc(50px + (80 - 50) * ((100vw - 320px) / (2000 - 320)));
}

@media (min-width: 2000px) {
  .kpc-concept {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 1440px) {
  .kpc-concept {
    background-position: -290px -80px;
  }
}

@media (max-width: 970px) {
  .kpc-concept {
    background-position: center -80px;
  }
}

@media (max-width: 768px) {
  .kpc-concept {
    background-position: -140px 15px;
    background-size: 140%;
  }
}

.kpc-concept .kpc-con-txt {
  display: inline-block;
  font-size: -webkit-calc(14px + (36 - 14) * ((100vw - 320px) / (2000 - 320)));
  font-size: -moz-calc(14px + (36 - 14) * ((100vw - 320px) / (2000 - 320)));
  font-size: calc(14px + (36 - 14) * ((100vw - 320px) / (2000 - 320)));
  line-height: -webkit-calc(20px + (46 - 20) * ((100vw - 320px) / (2000 - 320)));
  line-height: -moz-calc(20px + (46 - 20) * ((100vw - 320px) / (2000 - 320)));
  line-height: calc(20px + (46 - 20) * ((100vw - 320px) / (2000 - 320)));
  margin-top: -webkit-calc(10px + (100 - 10) * ((100vw - 320px) / (2000 - 320)));
  margin-top: -moz-calc(10px + (100 - 10) * ((100vw - 320px) / (2000 - 320)));
  margin-top: calc(10px + (100 - 10) * ((100vw - 320px) / (2000 - 320)));
}

.kpc-concept .kpc-con-cont {
  background-color: rgba(255, 255, 255, 0.8);
  padding: -webkit-calc(10px + (50 - 10) * ((100vw - 320px) / (2000 - 320)));
  padding: -moz-calc(10px + (50 - 10) * ((100vw - 320px) / (2000 - 320)));
  padding: calc(10px + (50 - 10) * ((100vw - 320px) / (2000 - 320)));
  margin-left: auto;
  margin-top: -webkit-calc(120px + (550 - 120) * ((100vw - 320px) / (2000 - 320)));
  margin-top: -moz-calc(120px + (550 - 120) * ((100vw - 320px) / (2000 - 320)));
  margin-top: calc(120px + (550 - 120) * ((100vw - 320px) / (2000 - 320)));
  margin-bottom: -webkit-calc(40px + (70 - 40) * ((100vw - 320px) / (2000 - 320)));
  margin-bottom: -moz-calc(40px + (70 - 40) * ((100vw - 320px) / (2000 - 320)));
  margin-bottom: calc(40px + (70 - 40) * ((100vw - 320px) / (2000 - 320)));
  max-width: 880px;
  width: 100%;
}

.kpc-concept .kpc-con-circ {
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.kpc-concept .kpc-con-box {
  text-align: center;
}

@media (max-width: 768px) {
  .kpc-concept .kpc-con-box {
    margin-bottom: 30px;
  }
}

.kpc-concept .kpc-con-box .kpc-con-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px;
}

.kpc-concept .kpc-con-box .kpc-con-img img {
  width: 80%;
}

@media (max-width: 768px) {
  .kpc-concept .kpc-con-box .kpc-con-img img {
    width: auto;
  }
}

@media (max-width: 450px) {
  .kpc-concept .kpc-con-box .kpc-con-img img {
    width: 220px;
  }
}

.kpc-concept .kpc-con-box .kpc-con-tit {
  color: #00446c;
  font-size: -webkit-calc(20px + (32 - 20) * ((100vw - 320px) / (2000 - 320)));
  font-size: -moz-calc(20px + (32 - 20) * ((100vw - 320px) / (2000 - 320)));
  font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (2000 - 320)));
  font-family: 'DINPro-Bold';
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.kpc-con-circ-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-right: -30px;
}

@media (max-width: 984px) {
  .kpc-con-circ-row {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.kpc-con-circ-row .kpc-con-circ-md {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
  max-width: 0 0 33.333%;
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 984px) {
  .kpc-con-circ-row .kpc-con-circ-md {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 768px) {
  .kpc-con-circ-row .kpc-con-circ-md {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.kpc-service {
  background-color: #eeeeee;
  padding-top: -webkit-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-top: -moz-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: -webkit-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: -moz-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.kpc-service .kpc-service-box {
  background-color: #fff;
  padding: -webkit-calc(20px + (60 - 20) * ((100vw - 320px) / (2000 - 320))) 80px;
  padding: -moz-calc(20px + (60 - 20) * ((100vw - 320px) / (2000 - 320))) 80px;
  padding: calc(20px + (60 - 20) * ((100vw - 320px) / (2000 - 320))) 80px;
  z-index: 2;
  position: relative;
}

@media (max-width: 375px) {
  .kpc-service .kpc-service-box {
    padding: 20px 40px;
  }
}

.kpc-service .kpc-service-box .kpc-desc {
  margin-bottom: -webkit-calc(50px + (80 - 50) * ((100vw - 320px) / (2000 - 320)));
  margin-bottom: -moz-calc(50px + (80 - 50) * ((100vw - 320px) / (2000 - 320)));
  margin-bottom: calc(50px + (80 - 50) * ((100vw - 320px) / (2000 - 320)));
}

.kpc-service .kpc-serv-plan-box {
  max-width: 730px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.kpc-service .kpc-plan-cont {
  text-align: center;
}

@media (max-width: 768px) {
  .kpc-service .kpc-plan-cont {
    margin-bottom: 30px;
  }
}

.kpc-service .kpc-plan-cont .kpc-plan-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 15px;
}

.kpc-service .kpc-plan-cont .kpc-plan-img img{
  width: 100%;
}

.kpc-service .kpc-plan-cont .kpc-desc {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .kpc-service .kpc-plan-cont .kpc-desc {
    font-size: 14px;
  }
}

.kpc-service .kpc-btn {
  margin-top: -webkit-calc(50px + (80 - 50) * ((100vw - 320px) / (2000 - 320)));
  margin-top: -moz-calc(50px + (80 - 50) * ((100vw - 320px) / (2000 - 320)));
  margin-top: calc(50px + (80 - 50) * ((100vw - 320px) / (2000 - 320)));
}

.kpc-plan-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.kpc-plan-row .kpc-plan-md {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 768px) {
  .kpc-plan-row .kpc-plan-md {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 375px) {
  .kpc-plan-row .kpc-plan-md {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.kpc-float-box1 {
  background-color: #cccccc;
  position: absolute;
  right: 0;
  top: 0;
  width: 600px;
  height: 220px;
  z-index: -1;
}

@media (max-width: 768px) {
  .kpc-float-box1 {
    width: 300px;
    height: 100px;
  }
}

.kpc-float-box2 {
  background-color: #999999;
  position: absolute;
  right: 50px;
  bottom: 0;
  width: 280px;
  height: 225px;
  z-index: -1;
}

@media (max-width: 1250px) {
  .kpc-float-box2 {
    right: 0;
    bottom: 30px;
    height: 220px;
    width: 170px;
  }
}

@media (max-width: 768px) {
  .kpc-float-box2 {
    height: 120px;
    width: 150px;
  }
}

.kpc-float-box3 {
  background-color: #cccccc;
  position: absolute;
  left: 22%;
  bottom: 15px;
  margin: auto;
  width: 280px;
  height: 225px;
  z-index: -1;
}

@media (max-width: 650px) {
  .kpc-float-box3 {
    left: 0;
    width: 140px;
    height: 140px;
  }
}

.kpc-float-box4 {
  background-color: #4c4c4c;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 160px;
  height: 395px;
  z-index: 4;
}

@media (max-width: 1250px) {
  .kpc-float-box4 {
    width: 80px;
    height: 250px;
    bottom: auto;
    top: 20%;
  }
}

@media (max-width: 768px) {
  .kpc-float-box4 {
    width: 35px;
    top: 14%;
  }
}

@media (max-width: 375px) {
  .kpc-float-box4 {
    width: 25px;
  }
}

.kpc-float-box5 {
  background-color: #4c4c4c;
  position: absolute;
  right: 0;
  top: 300px;
  margin: auto;
  width: 150px;
  height: 220px;
  z-index: 4;
}

@media (max-width: 1250px) {
  .kpc-float-box5 {
    width: 80px;
    top: 24%;
  }
}

@media (max-width: 768px) {
  .kpc-float-box5 {
    width: 40px;
    top: 17%;
    height: 220px;
  }
}

@media (max-width: 768px) {
  .kpc-float-box5 {
    top: 13%;
  }
}

@media (max-width: 375px) {
  .kpc-float-box5 {
    top: 10%;
    width: 25px;
    height: 180px;
  }
}

.kpc-float-box6 {
  background-color: #999999;
  position: absolute;
  right: -20px;
  top: 75px;
  margin: auto;
  width: 180px;
  height: 180px;
  z-index: 3;
}

@media (max-width: 1250px) {
  .kpc-float-box6 {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 768px) {
  .kpc-float-box6 {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 375px) {
  .kpc-float-box6 {
    width: 40px;
    height: 40px;
  }
}

.kpc-float-box7 {
  background-color: #999999;
  position: absolute;
  left: -40px;
  bottom: 120px;
  margin: auto;
  width: 180px;
  height: 180px;
  z-index: 3;
}

@media (max-width: 1250px) {
  .kpc-float-box7 {
    width: 120px;
    height: 120px;
    bottom: 50%;
  }
}

@media (max-width: 768px) {
  .kpc-float-box7 {
    width: 80px;
    height: 80px;
    bottom: 60%;
  }
}

@media (max-width: 375px) {
  .kpc-float-box7 {
    bottom: 68%;
    width: 60px;
    height: 60px;
  }
}

.kpc-table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.kpc-table {
  width: 100%;
}

@media (max-width: 1024px) {
  .kpc-table {
    width: 150%;
  }
}

@media (max-width: 768px) {
  .kpc-table {
    width: 200%;
  }
}

@media (max-width: 510px) {
  .kpc-table {
    width: 300%;
  }
}

@media (max-width: 350px) {
  .kpc-table {
    width: 400%;
  }
}

.kpc-table thead {
  background-color: #4d4d4d;
}

.kpc-table thead tr th{
  vertical-align: middle;
}

.kpc-table thead tr th:first-child {
  width: 150px;
}

.kpc-table thead tr th h3 {
  padding: 15px 15px;
}

.kpc-table tbody tr {
  border-bottom: 1px solid #000;
}

.kpc-table tbody tr:last-child {
  border-bottom: 4px solid #000;
}

.kpc-table tbody tr td {
  padding: 15px 0;
}

.kpc-table tbody tr td:first-child {
  max-width: 150px;
}

.kpc-table tbody tr td:first-child .kpc-table-padd {
  border-right: 0;
}

.kpc-table tbody tr td .kpc-table-padd {
  border-right: 1px solid #000;
}

.kpc-table tbody tr td:last-child .kpc-table-padd {
  border-right: 0;
}

.kpc-table tbody .kpc-table-ico {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.kpc-table tbody .kpc-table-ico small {
  line-height: 18px;
  margin-top: 0;
  margin-left: 20px;
  text-align: left;
}

.kpc-table tbody .kpc-table-padd {
  padding: 5px 15px;
}

.kpc-table tbody .kpc-table-padd h3 {
  font-size: 24px;
  font-weight: bold;
}

.kpc-table tbody .kpc-table-padd h3 span{
  font-size: 18px;
}

.kpc-table tbody .kpc-table-padd h3 small {
  display: inline;
}

.kpc-table .kpc-table-head-tit {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.kpc-table .kpc-table-head-tit small {
  margin-top: 0;
  text-align: center;
}

.kpc-meeting-event {
  margin-top: 30px;
  margin-bottom: 30px;
}

.kpc-members {
  background-image: url("../img/members/members-bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  padding-top: -webkit-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-top: -moz-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: -webkit-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: -moz-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  position: relative;
  z-index: 1;
}

.kpc-members .kpc-btn {
  margin-top: 80px;
}

.kpc-members .kpc-btn a {
  pointer-events: none;
  -webkit-filter: contrast(0.5);
          filter: contrast(0.5);
}

.kpc-contact {
  background-color: #4d4d4d;
  color: #fff;
  padding-top: -webkit-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-top: -moz-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: -webkit-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: -moz-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  position: relative;
  z-index: 1;
}

.kpc-contact .kpc-desc {
  margin-bottom: -webkit-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  margin-bottom: -moz-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  margin-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
}

.kpc-contact{
  .mw_wp_form_confirm{
    .kpc-form-select{
      &::after{
        display: none;
      }
    }
  }
}

.kpc-access {
  padding-top: -webkit-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-top: -moz-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: -webkit-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: -moz-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
}

.kpc-access .kpc-desc {
  margin-bottom: 20px;
}

.kpc-access .kpc-access-map {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.kpc-policy, .kpc-page{
  padding-top: -webkit-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-top: -moz-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: -webkit-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: -moz-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
}

.kpc-plan {
  padding-top: -webkit-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-top: -moz-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: -webkit-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: -moz-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
}

.kpc-floor-guide {
  padding-top: -webkit-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-top: -moz-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: -webkit-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: -moz-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
}

.kpc-space {
  padding-top: -webkit-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-top: -moz-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: -webkit-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: -moz-calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (2000 - 320)));
}

/** MODULES **/
.kpc-btn a, .kpc-btn button, .kpc-btn .kpc-btn-submit {
  background-color: #000;
  border: none;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'DINPro-Bold';
  font-weight: bold;
  font-size: -webkit-calc(15px + (24 - 15) * ((100vw - 320px) / (2000 - 320)));
  font-size: -moz-calc(15px + (24 - 15) * ((100vw - 320px) / (2000 - 320)));
  font-size: calc(15px + (24 - 15) * ((100vw - 320px) / (2000 - 320)));
  max-width: 650px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: -webkit-calc(15px + (30 - 15) * ((100vw - 320px) / (2000 - 320)));
  padding: -moz-calc(15px + (30 - 15) * ((100vw - 320px) / (2000 - 320)));
  padding: calc(15px + (30 - 15) * ((100vw - 320px) / (2000 - 320)));
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.kpc-btn a:hover::after, .kpc-btn button:hover::after, .kpc-btn .kpc-btn-submit:hover::after {
  content: "";
  background-color: #999999;
  position: absolute;
  bottom: -16px;
  right: -16px;
  width: 100%;
  height: -webkit-calc(55px + (77.81 - 55) * ((100vw - 320px) / (2000 - 320)));
  height: -moz-calc(55px + (77.81 - 55) * ((100vw - 320px) / (2000 - 320)));
  height: calc(55px + (77.81 - 55) * ((100vw - 320px) / (2000 - 320)));
  z-index: -1;
}

.kpc-btn a::before, .kpc-btn button::before, .kpc-btn .kpc-btn-submit::before {
  content: "";
  background-image: url("../img/ico/arrow01.png");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 32px;
  height: 22px;
  position: absolute;
  right: -webkit-calc(15px + (30 - 15) * ((100vw - 320px) / (2000 - 320)));
  right: -moz-calc(15px + (30 - 15) * ((100vw - 320px) / (2000 - 320)));
  right: calc(15px + (30 - 15) * ((100vw - 320px) / (2000 - 320)));
  top: 0;
  bottom: 0;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.kpc-btn a.white, .kpc-btn button.white {
  background-color: #fff;
  color: #000;
}

.kpc-top-bnr {
  background-image: url("../img/bnr/bnrtop.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  margin-top: 105px;
  padding-top: -webkit-calc(20px + (60 - 20) * ((100vw - 320px) / (2000 - 320)));
  padding-top: -moz-calc(20px + (60 - 20) * ((100vw - 320px) / (2000 - 320)));
  padding-top: calc(20px + (60 - 20) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: -webkit-calc(20px + (60 - 20) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: -moz-calc(20px + (60 - 20) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: calc(20px + (60 - 20) * ((100vw - 320px) / (2000 - 320)));
}

@media (max-width: 768px) {
  .kpc-top-bnr {
    margin-top: 67px;
  }
}

.kpc-top-bnr .bnr-top-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.kpc-page-bnr {
  background-image: url("../img/bnr/bnr01.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  margin-top: 105px;
  padding-top: -webkit-calc(50px + (130 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-top: -moz-calc(50px + (130 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-top: calc(50px + (130 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: -webkit-calc(50px + (130 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: -moz-calc(50px + (130 - 50) * ((100vw - 320px) / (2000 - 320)));
  padding-bottom: calc(50px + (130 - 50) * ((100vw - 320px) / (2000 - 320)));
  text-align: center;
}

@media (max-width: 768px) {
  .kpc-page-bnr {
    margin-top: 67px;
  }
}

.kpc-page-bnr.service, .kpc-page-bnr.service-en, .kpc-page-bnr.service-vn {
  background-image: url("../img/bnr/bnr01.jpg");
}

.kpc-page-bnr.floor-guide, .kpc-page-bnr.floor-guide-en, .kpc-page-bnr.floor-guide-vn {
  background-image: url("../img/bnr/bnr02.jpg");
}

.kpc-page-bnr.news, .kpc-page-bnr.news-en, .kpc-page-bnr.news-vn, .kpc-page-bnr.thank-you, .kpc-page-bnr.confirm {
  background-image: url("../img/bnr/bnr03.jpg");
}

.kpc-page-bnr h2 {
  color: #fff;
  font-family: 'DINPro-Bold';
  font-size: -webkit-calc(30px + (70 - 30) * ((100vw - 320px) / (2000 - 320)));
  font-size: -moz-calc(30px + (70 - 30) * ((100vw - 320px) / (2000 - 320)));
  font-size: calc(30px + (70 - 30) * ((100vw - 320px) / (2000 - 320)));
  line-height: -webkit-calc(35px + (75 - 35) * ((100vw - 320px) / (2000 - 320)));
  line-height: -moz-calc(35px + (75 - 35) * ((100vw - 320px) / (2000 - 320)));
  line-height: calc(35px + (75 - 35) * ((100vw - 320px) / (2000 - 320)));
  font-weight: bold;
  text-transform: uppercase;
}

.kpc-slider-box {
  position: relative;
}

.kpc-slider-box .kpc-slider-counter, .kpc-slider-box .kpc-slider-counter-2 {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 5px;
}

.kpc-slider-box::before {
  content: "";
  background-color: #e5ecf0;
  left: 0;
  right: 0;
  bottom: -webkit-calc(60px + (60 - 60) * ((100vw - 320px) / (2000 - 320)));
  bottom: -moz-calc(60px + (60 - 60) * ((100vw - 320px) / (2000 - 320)));
  bottom: calc(60px + (60 - 60) * ((100vw - 320px) / (2000 - 320)));
  height: -webkit-calc(100px + (500 - 100) * ((100vw - 320px) / (2000 - 320)));
  height: -moz-calc(100px + (500 - 100) * ((100vw - 320px) / (2000 - 320)));
  height: calc(100px + (500 - 100) * ((100vw - 320px) / (2000 - 320)));
  position: absolute;
}

.kpc-space-slider {
  position: relative;
}

.kpc-space-slider .kpc-space-slider-item p {
  color: #4c4c4c;
  font-weight: bold;
  padding: 10px 10px;
  text-align: center;
}

.owl-nav {
  max-width: 200px;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.owl-nav .owl-prev .kpc-nav-btn::before {
  content: "";
  background-position: center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.owl-nav .owl-prev .kpc-nav-btn.kpc-prev-slide::before {
  background-image: url(../img/ico/arrow-prev.png);
  left: 0;
}

.owl-nav .owl-next .kpc-nav-btn::before {
  content: "";
  background-position: center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.owl-nav .owl-next .kpc-nav-btn.kpc-next-slide::before {
  background-image: url(../img/ico/arrow-next.png);
  right: 0;
}

.kpc-card {
  margin-bottom: 60px;
  position: relative;
}

@media (max-width: 768px) {
  .kpc-card {
    margin-bottom: 30px;
  }
}

.kpc-card .kpc-card-head {
  background-color: #00446c;
  color: #fff;
  padding: 15px 15px;
  text-align: center;
}

.kpc-card .kpc-card-head .kpc-card-plan-txt {
  font-weight: bold;
  margin-bottom: 10px;
}

.kpc-card .kpc-card-head .kpc-card-plan-price span {
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
}

.kpc-card .kpc-card-head .kpc-card-plan-price .price-tag {
  display: inline;
  width: auto;
}

.kpc-card .kpc-card-content .kpc-card-plan-list li {
  border-bottom: 1px solid #00446c;
  padding: 15px 15px;
}

.kpc-card .kpc-card-content .kpc-card-plan-list li:last-child {
  border-bottom: 4px solid #00446c;
}

.kpc-card.v2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.kpc-card.v2 .kpc-card-head, .kpc-card.v2 .kpc-card-content {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .kpc-card.v2 .kpc-card-head, .kpc-card.v2 .kpc-card-content {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.kpc-card.v2 .kpc-card-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.kpc-card.v2 .kpc-card-head p {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.kpc-card.v2 .kpc-card-head .kpc-card-plan-txt {
  margin-bottom: 0;
}

.kpc-card.v2 .kpc-card-content {
  border: 4px solid #00446c;
  padding: 0 30px;
}

.kpc-card.v2 .kpc-card-content .kpc-card-plan-list li {
  border-bottom: 1px solid #00446c;
  padding: 15px 15px;
}

.kpc-card.v2 .kpc-card-content .kpc-card-plan-list li:last-child {
  border-bottom: 0;
}

.kpc-card small {
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
  width: 100%;
  text-align: right;
}

@media (max-width: 768px) {
  .kpc-card small {
    font-size: 12px;
  }
}

.kpc-card.v3 .kpc-card-head {
  background-color: #396e8d;
}

.kpc-card.v3 .kpc-card-head .kpc-card-plan-txt {
  margin-bottom: 0;
}

.kpc-card.v3 .kpc-card-content {
  border-bottom: 4px solid #396e8d;
}

.kpc-card.v3 .kpc-card-content .kpc-card-plan-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.kpc-card.v3 .kpc-card-content .kpc-card-plan-list li {
  border-bottom: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

@media (max-width: 768px) {
  .kpc-card.v3 .kpc-card-content .kpc-card-plan-list li {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .kpc-card.v3 .kpc-card-content .kpc-card-plan-list li:first-child {
    padding-bottom: 0;
  }
  .kpc-card.v3 .kpc-card-content .kpc-card-plan-list li:nth-child(2) {
    padding-top: 0;
  }
}

.kpc-card.v3 .kpc-card-content .kpc-card-plan-list li::before {
  border-bottom: 0;
}

.kpc-card.v4 .kpc-card-head {
  background-color: #000000;
}

.kpc-card.v4 .kpc-card-head .kpc-card-plan-txt {
  margin-bottom: 0;
}

.kpc-card.v4 .kpc-card-head-2 {
  background-color: #4d4d4d;
  color: #fff;
  text-align: center;
}

.kpc-card.v4 .kpc-card-head-2 .kpc-card-plan-txt-2 {
  font-size: 40px;
  font-weight: bold;
  padding: 20px 0 10px;
}

@media (max-width: 425px) {
  .kpc-card.v4 .kpc-card-head-2 .kpc-card-plan-txt-2 {
    font-size: 25px;
  }
}

.kpc-card.v4 .kpc-card-head-2 .kpc-card-plan-txt-2 small {
  font-weight: normal;
  margin-top: 0;
  text-align: center;
}

.kpc-card.v4 .kpc-card-content .kpc-card-plan-list li {
  border-bottom: 1px solid #000;
}

.kpc-card.v4 .kpc-card-content .kpc-card-plan-list li:last-child {
  border-bottom: 4px solid #000;
}

.kpc-card.v4 .kpc-card-content .kpc-card-plan-list li .plan-list-row .plan-list-ico small {
  color: #000;
}

.kpc-card.v4 .kpc-card-content .kpc-card-plan-list li .plan-list-row .plan-list-txt .plan-bg {
  font-size: 16px;
  font-weight: bold;
}

.plan-list-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.plan-list-row .plan-list-ico {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 10px;
  width: 130px;
}

.plan-list-row .plan-list-ico img {
  margin-right: 15px;
}

.plan-list-row .plan-list-ico small {
  color: #00446c;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-align: left;
}

@media (max-width: 830px) {
  .plan-list-row .plan-list-txt {
    font-size: 13px;
  }
}

.kpc-form-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -15px;
  margin-right: -15px;
}

@media (max-width: 768px) {
  .kpc-form-row .kpc-form-label {
    margin-bottom: 10px;
  }
}

.kpc-form-row .kpc-form-md-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 900px) {
  .kpc-form-row .kpc-form-md-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
  }
}

@media (max-width: 768px) {
  .kpc-form-row .kpc-form-md-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.kpc-form-row .kpc-form-md-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

@media (max-width: 900px) {
  .kpc-form-row .kpc-form-md-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 70%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
  }
}

@media (max-width: 768px) {
  .kpc-form-row .kpc-form-md-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.kpc-form-row.kpc-form-row-ais {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.kpc-form-group {
  margin-bottom: 40px;
}

.kpc-form-control {
  border: none;
  width: 100%;
  height: 55px;
  position: relative;
  padding: 15px;
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.kpc-form-select {
  position: relative;
  border: none;
  cursor: pointer;
}

.kpc-form-select::after {
  content: "\25BC";
  color: #000;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 20px;
  border-left: 2px solid #4d4d4d;
  pointer-events: none;
}

textarea {
  border: none;
  resize: none;
  height: 220px !important;
}

.kpc-form-checkbox {
    cursor: pointer;
    width: 3%;
    z-index: 1;
    position: relative;
    // opacity: 0;
    left: 0px;
    top: 3px;
    height: 18px;
}

// @media (max-width: 900px) {
//   .kpc-form-checkbox {
//     width: 90%;
//   }
// }

.checkbox-label {
  cursor: pointer;
  position: relative;
}

@media (max-width: 768px) {
  .checkbox-label {
    font-size: 14px;
  }
}

.checkbox-label::before {
  content: '';
  -webkit-appearance: none;
  background-color: #fff;
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 15px;
  top: -2px;
}

.checkbox-label a {
  color: #35a4c0;
  text-decoration: none;
}

.kpc-form-checkbox:checked + .checkbox-label::after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.kpc-tit {
  display: inline-block;
  margin-bottom: -webkit-calc(25px + (60 - 25) * ((100vw - 320px) / (2000 - 320)));
  margin-bottom: -moz-calc(25px + (60 - 25) * ((100vw - 320px) / (2000 - 320)));
  margin-bottom: calc(25px + (60 - 25) * ((100vw - 320px) / (2000 - 320)));
  width: 100%;
}

.kpc-tit h3 {
  color: #000;
  font-family: 'DINPro-Bold';
  font-size: -webkit-calc(30px + (70 - 30) * ((100vw - 320px) / (2000 - 320)));
  font-size: -moz-calc(30px + (70 - 30) * ((100vw - 320px) / (2000 - 320)));
  font-size: calc(30px + (70 - 30) * ((100vw - 320px) / (2000 - 320)));
  line-height: -webkit-calc(25px + (60 - 25) * ((100vw - 320px) / (2000 - 320)));
  line-height: -moz-calc(25px + (60 - 25) * ((100vw - 320px) / (2000 - 320)));
  line-height: calc(25px + (60 - 25) * ((100vw - 320px) / (2000 - 320)));
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 1;
}

.kpc-tit.tit-white h3 {
  color: #fff;
}

.kpc-tit.kpc-tit-noto {
  margin-bottom: -webkit-calc(25px + (35 - 25) * ((100vw - 320px) / (2000 - 320)));
  margin-bottom: -moz-calc(25px + (35 - 25) * ((100vw - 320px) / (2000 - 320)));
  margin-bottom: calc(25px + (35 - 25) * ((100vw - 320px) / (2000 - 320)));
  text-align: center;
}

.kpc-tit.kpc-tit-noto h3 {
  color: #4c4c4c;
  display: inline-block;
  font-size: -webkit-calc(25px + (40 - 25) * ((100vw - 320px) / (2000 - 320)));
  font-size: -moz-calc(25px + (40 - 25) * ((100vw - 320px) / (2000 - 320)));
  font-size: calc(25px + (40 - 25) * ((100vw - 320px) / (2000 - 320)));
  line-height: -webkit-calc(30px + (50 - 30) * ((100vw - 320px) / (2000 - 320)));
  line-height: -moz-calc(30px + (50 - 30) * ((100vw - 320px) / (2000 - 320)));
  line-height: calc(30px + (50 - 30) * ((100vw - 320px) / (2000 - 320)));
  padding-left: 5px;
  padding-right: 5px;
}

.kpc-tit.kpc-tit-noto h3::before {
  content: "";
  background-color: #cccccc;
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 10px;
  z-index: -1;
}

.kpc-tit.kpc-tit-noto.kpc-fs h3 {
  font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (2000 - 320)));
  line-height: -webkit-calc(28px + (30 - 28) * ((100vw - 320px) / (2000 - 320)));
  line-height: -moz-calc(28px + (30 - 28) * ((100vw - 320px) / (2000 - 320)));
  line-height: calc(28px + (30 - 28) * ((100vw - 320px) / (2000 - 320)));
  text-transform: inherit;
}

.kpc-tit.kpc-tit-noto.kpc-fs h3::before {
  bottom: 0;
}

.kpc-tit.kpc-tit-noto.kpc-spc h3 {
  color: #00446c;
}

.kpc-tit.kpc-tit-noto.kpc-spc h3::before {
  display: none;
}

.kpc-tit-jp {
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
}

.kpc-tit-jp h4 {
  font-size: -webkit-calc(18px + (28 - 18) * ((100vw - 320px) / (2000 - 320)));
  font-size: -moz-calc(18px + (28 - 18) * ((100vw - 320px) / (2000 - 320)));
  font-size: calc(18px + (28 - 18) * ((100vw - 320px) / (2000 - 320)));
  font-weight: bold;
  line-height: -webkit-calc(28px + (38 - 28) * ((100vw - 320px) / (2000 - 320)));
  line-height: -moz-calc(28px + (38 - 28) * ((100vw - 320px) / (2000 - 320)));
  line-height: calc(28px + (38 - 28) * ((100vw - 320px) / (2000 - 320)));
  text-align: center;
}

.kpc-float-social {
  position: fixed;
  z-index: 999;
  top: 161px;
  right: 0;
  &.p-abs{
    position: absolute;
    top: auto;
    bottom: 650px;
  }
}

@media (max-width: 768px) {
  .kpc-float-social {
    display: none;
  }
}

.kpc-float-social ul {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px #333;
  -moz-box-shadow: 0px 0px 10px #333;
  box-shadow: 0px 0px 10px #333;
}

.kpc-float-social ul li:first-child a {
  background-color: #000;
  color: #fff;
}

.kpc-float-social ul li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
  font-size: 30px;
  padding: 35px 35px;
}

.kpc-service-list li {
  margin-bottom: 10px;
  padding-left: 25px;
  position: relative;
}

.kpc-service-list li::before {
  content: "";
  background-color: #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 7px;
  left: 0;
}

.kpc-service-list li:last-child {
  margin-bottom: 0;
}

.kpc-tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.kpc-tabs .kpc-tab-link {
  cursor: pointer;
  margin-right: 2px;
}

.kpc-tabs .kpc-tab-link:last-child {
  margin-right: 0;
}

.kpc-tabs .kpc-tab-link.active a {
  background-color: #000;
}

.kpc-tabs .kpc-tab-link a {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  background-color: #999999;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  font-weight: bold;
  padding: 0 15px;
}

.kpc-tab-box {
  background-color: #4d4d4d;
  padding: 30px 30px;
}

.kpc-tab-box .kpc-tab-content {
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 700px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.kpc-tab-box .kpc-tab-content.current {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.dblock {
  display: block;
}

.diblock {
  display: inline-block;
}

.dflex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.diflex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.dnone {
  display: none;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.ai {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mlr-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.global-mt {
  margin-top: 100px;
}

/** MARGIN TOP **/
/** SP **/
.mt-0-xs {
  margin-top: 0px;
}

/** PC **/
@media (min-width: 768px) {
  .mt-0 {
    margin-top: 0px !important;
  }
}

/** END MARGIN TOP **/
/** MARGIN BOTTOM **/
/** SP **/
.mb-0-xs {
  margin-bottom: 0px;
}

.mb-10-xs {
  margin-bottom: 10px;
}

.mb-20-xs {
  margin-bottom: 20px;
}

.mb-30-xs {
  margin-bottom: 30px;
}

/** PC **/
@media (min-width: 768px) {
  .mb-0 {
    margin-bottom: 0px !important;
  }
  .mb-10 {
    margin-bottom: 10px !important;
  }
  .mb-20 {
    margin-bottom: 20px !important;
  }
  .mb-60 {
    margin-bottom: 60px !important;
  }
}

/** END MARGIN BOTTOM **/
/** PADDING TOP **/
/** SP **/
.pt-0-xs {
  padding-top: 0px;
}

/** PC **/
@media (min-width: 768px) {
  .pt-0 {
    padding-top: 0px !important;
  }
}

/** END PADDING TOP **/
/** PADDING BOTTOM **/
/** SP **/
.pb-0-xs {
  margin-bottom: 0px;
}

/** PC **/
@media (min-width: 768px) {
  .pb-0 {
    margin-bottom: 0px !important;
  }
}

/** END MARGIN BOTTOM **/
.fs-18-xs {
  font-size: 18px;
}

@media (min-width: 768px) {
  .fs-20 {
    font-size: 20px !important;
  }
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.is-wide {
  width: 100%;
}

.flex-row-rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -moz-box-orient: horizontal;
  -moz-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.ov-hidden {
  overflow: hidden;
}

.v-pc {
  display: none;
}

@media (min-width: 768px) {
  .v-pc {
    display: block;
  }
}

.v-sp {
  display: none;
}

@media (max-width: 767px) {
  .v-sp {
    display: block;
  }
}

.section-title {
  position: relative;
  font-size: 30px;
  margin-bottom: 30px;
}

.br-sp {
  display: none;
}

@media (max-width: 768px) {
  .br-sp {
    display: block;
  }
}

.pagination{
  margin-top: 80px;
  ul{
    display: flex;
    align-items: center;
    justify-content: center;
    li{
      margin-right: 10px;
      &:last-child{
        margin-right: 0;
      }
      .page-numbers{
        background-color: #eee;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        text-decoration: none;
        height: 40px;
        width: 40px;
        transition: .4s ease-in-out;
        &.current{
          background-color: #000;
          color: #fff;
        }
        &:hover{
          background-color: #000;
          color: #fff;
        }
        img{
          width: 40px;
          height: 40px;
        }
        &.next, &.prev{
          &:hover{
            background-color: #eee;
          }
        }
      }
    }
  }
}

.kpc-policy-terms{
  display: flex;
  padding-left: 33px;
  margin-top: 5px;
  a{
    color: #33A4C2;
    text-decoration: none;
  }
}
