.kpc-top-bnr{
    background-image: url('../img/bnr/bnrtop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: calc(20px + (60 - 20) * ((100vw - 320px) / (2000 - 320)));
    padding-bottom: calc(20px + (60 - 20) * ((100vw - 320px) / (2000 - 320)));
    .bnr-top-img{
        display: flex;
        align-items: center;
    }
}
.kpc-page-bnr{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: calc(50px + (130 - 50) * ((100vw - 320px) / (2000 - 320)));
    padding-bottom: calc(50px + (130 - 50) * ((100vw - 320px) / (2000 - 320)));
    text-align: center;
    &.service{
        background-image: url('../img/bnr/bnr01.jpg');
    }
    &.floor-guide{
        background-image: url('../img/bnr/bnr02.jpg');
    }
    h2{
        color: #fff;
        font-family: 'DINPro-Bold';
        font-size: calc(30px + (70 - 30) * ((100vw - 320px) / (2000 - 320)));
        line-height: calc(35px + (75 - 35) * ((100vw - 320px) / (2000 - 320)));
        font-weight: bold;
        text-transform: uppercase;
    }
}