.kpc-btn{
    a, button{
        background-color: #000;
        border: none;
        color: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'DINPro-Bold';
        font-weight: bold;
        font-size: calc(15px + (24 - 15) * ((100vw - 320px) / (2000 - 320)));
        max-width: 650px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: calc(15px + (30 - 15) * ((100vw - 320px) / (2000 - 320)));
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
        transition: .4s ease-in-out;
        &:hover{
            &::after{
                content: "";
                background-color: #999999;
                position: absolute;
                bottom: -16px;
                right: -16px;
                width: 100%;
                height: calc(55px + (77.81 - 55) * ((100vw - 320px) / (2000 - 320)));
                z-index: -1;
            }
        }
        &::before{
            content: "";
            background-image: url('../img/ico/arrow01.png');
            background-size: contain;
            width: 32px;
            height: 22px;
            position: absolute;
            right: calc(15px + (30 - 15) * ((100vw - 320px) / (2000 - 320)));
            top: 0;
            bottom: 0;
            margin: auto;
            display: flex;
            align-items: center;
        }
        &.white{
            background-color: #fff;
            color: #000;
        }
    }
}