.kpc-card{
    margin-bottom: 60px;
    position: relative;
    @include mq(max, $mq_md){
        margin-bottom: 30px;
    }
    .kpc-card-head{
        background-color: #00446c;
        color: #fff;
        padding: 15px 15px;
        text-align: center;
        .kpc-card-plan-txt{
            font-weight: bold;
            margin-bottom: 10px;
        }
        .kpc-card-plan-price{
            span{
                font-size: 32px;
                font-weight: bold;
                line-height: 40px;
            }
        }
    }
    .kpc-card-content{
        .kpc-card-plan-list{
            li{
                border-bottom: 1px solid #00446c;
                &:last-child{
                    border-bottom: 4px solid #00446c;
                }
                padding: 15px 15px;
            }
        }
    }
    &.v2{
        display: flex;
        .kpc-card-head, .kpc-card-content{
            flex: 0 0 50%;
            max-width: 50%;
        }
        .kpc-card-head{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            p{
                flex: 0 0 100%;
                max-width: 100%;
            }
            .kpc-card-plan-txt{
                margin-bottom: 0;
            }
        }
        .kpc-card-content{
            border: 4px solid #00446c;
            padding: 0 30px;
            .kpc-card-plan-list{
                li{
                    border-bottom: 1px solid #00446c;
                    &:last-child{
                        border-bottom: 0;
                    }
                    padding: 15px 15px;
                }
            }
        }
    }
    small{
        display: inline-block;
        font-size: 14px;
        margin-top: 10px;
        width: 100%;
        text-align: right;
        @include mq(max, $mq_md){
            font-size: 12px;
        }
    }
    &.v3{
        .kpc-card-head{
            background-color: #396e8d;
            .kpc-card-plan-txt{
                margin-bottom: 0;
            }
        }
        .kpc-card-content{
            border-bottom: 4px solid #396e8d;
            .kpc-card-plan-list{
                display: flex;
                flex-wrap: wrap;
                li{
                    border-bottom: 0;
                    flex: 0 0 50%;
                    max-width: 50%;
                    @include mq(max, $mq_md){
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                    &::before{
                        border-bottom: 0;
                    }
                }
            }
        }
    }
    &.v4{
        .kpc-card-head{
            background-color: #000000;
            .kpc-card-plan-txt{
                margin-bottom: 0;
            }
        }
    }
}

.plan-list-row{
    display: flex;
    align-items: center;
    .plan-list-ico{
        display: flex;
        align-items: center;
        margin-right: 10px;
        width: 130px;
        img{
            margin-right: 15px;
        }
        small{
            color: #00446c;
            font-size: 12px;
            font-weight: bold;
            line-height: 15px;
            text-align: left;
        }
    }
    .plan-list-txt{
        @include mq(max, 830){
            font-size: 13px;
        }
    }
}