.kpc-form-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
    .kpc-form-label{
        @include mq(max, $mq_md){
            margin-bottom: 10px;
        }
    }
    .kpc-form-md-1{
        flex: 0 0 25%;
        max-width: 25%;
        padding-left: 15px;
        padding-right: 15px;
        @include mq(max, 900){
            flex: 0 0 30%;
            max-width: 30%;
        }
        @include mq(max, $mq_md){
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .kpc-form-md-2{
        flex: 0 0 75%;
        max-width: 75%;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        @include mq(max, 900){
            flex: 0 0 70%;
            max-width: 70%;
        }
        @include mq(max, $mq_md){
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    &.kpc-form-row-ais{
        align-items: flex-start;
    }
}

.kpc-form-group{
    margin-bottom: 40px;
}

.kpc-form-control{
    border: none;
    width: 100%;
    height: 55px;
    position: relative;
    padding: 15px;
    cursor: pointer;
}

select{
    appearance: none;
    cursor: pointer;
}

.kpc-form-select{
    position: relative;
    border: none;
    cursor: pointer;
    &::after{
        content: "\25BC";
        color: #000;
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        display: flex;
        align-items: center;
        padding: 20px 20px;
        border-left: 2px solid #4d4d4d;
        pointer-events: none;
    }
}

textarea{
    border: none;
    resize: none;
    height: 220px !important;
}

.kpc-form-checkbox{
    cursor: pointer;
    width: 100%;
    z-index: 1;
    position: absolute;
    opacity: 0;
    @include mq(max, 900){
        width: 90%;
    }
}

.checkbox-label{
    cursor: pointer;
    position: relative;
    @include mq(max, $mq_md){
        font-size: 14px;
    }
    &::before{
        content:'';
        -webkit-appearance: none;
        background-color: #fff;
        padding: 8px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 15px;
        top: -2px;
    }
    span{
        color: #35a4c0;
    }
}

.kpc-form-checkbox{
    &:checked + .checkbox-label::after{
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        left: 6px;
        width: 5px;
        height: 10px;
        border: solid #000;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
}