.kpc-float-social{
    position: fixed;
    z-index: 999;
    top: 161px;
    right: 0;
    @include mq(max, $mq_md){
        display: none;
    }
    ul{
        background-color: #fff;
        box-shadow: 0px 0px 10px #333;
        li{
            &:first-child{
                a{
                    background-color: #000;
                    color: #fff;
                }
            }
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                color: #000;
                font-size: 30px;
                padding: 35px 35px;
            }
        }
    }
}

.kpc-service-list{
    li{
        margin-bottom: 10px;
        padding-left: 25px;
        position: relative;
        &::before{
            content: "";
            background-color: #000;
            border-radius: 50%;
            position: absolute;
            width: 15px;
            height: 15px;
            top: 7px;
            left: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.kpc-tabs{
    display: flex;
    align-items: center;
    .kpc-tab-link{
        cursor: pointer;
        margin-right: 2px;
        &:last-child{
            margin-right: 0;
        }
        &.active{
            a{
                background-color: #000;
            }
        }
        a{
            color: #fff;
            display: flex;
            align-items: center;
            text-decoration: none;
            background-color: #999999;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            font-weight: bold;
            padding: 0 15px;
        }
    }
}

.kpc-tab-box{
    background-color: #4d4d4d;
    padding: 30px 30px;
    .kpc-tab-content{
        display: none;
        align-items: center;
        max-width: 700px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        &.current{
            display: flex;
        }
    }
}