.kpc-slider-box{
    position: relative;
    .kpc-slider-counter, .kpc-slider-counter-2{
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        letter-spacing: 5px;
    }
    &::before{
        content: "";
        background-color: #e5ecf0;
        left: 0;
        right: 0;
        bottom: calc(60px + (60 - 60) * ((100vw - 320px) / (2000 - 320)));;
        height: calc(100px + (500 - 100) * ((100vw - 320px) / (2000 - 320)));
        position: absolute;
    }
}
.kpc-space-slider{
    position: relative;
    .kpc-space-slider-item{
        p{
            color: #4c4c4c;
            font-weight: bold;
            padding: 10px 10px;
            text-align: center;
        }
    }
}

.owl-nav{
    max-width: 200px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    .owl-prev{
        .kpc-nav-btn{
            &::before{
                content: "";
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
                height: 50px;
                width: 50px;
                position: absolute;
                top: 0;
                bottom: 0;
            }
            &.kpc-prev-slide{
                &::before{
                    background-image: url(../img/ico/arrow-prev.png);
                    left: 0;
                }
            }
        }
    }
    .owl-next{
        .kpc-nav-btn{
            &::before{
                content: "";
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
                height: 50px;
                width: 50px;
                position: absolute;
                top: 0;
                bottom: 0;
            }
            &.kpc-next-slide{
                &::before{
                    background-image: url(../img/ico/arrow-next.png);
                    right: 0;
                }
            }
        }
    }
}
