.kpc-tit{
    display: inline-block;
    margin-bottom: calc(25px + (60 - 25) * ((100vw - 320px) / (2000 - 320)));
    width: 100%;
    h3{
        color: #000;
        font-family: 'DINPro-Bold';
        font-size: calc(30px + (70 - 30) * ((100vw - 320px) / (2000 - 320)));
        line-height: calc(25px + (60 - 25) * ((100vw - 320px) / (2000 - 320)));
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        z-index: 1;
    }
    &.tit-white{
        h3{
            color: #fff;
        }
    }
    &.kpc-tit-noto{
        margin-bottom: calc(25px + (35 - 25) * ((100vw - 320px) / (2000 - 320)));
        text-align: center;
        h3{
            color: #4c4c4c;
            display: inline-block;
            font-size: calc(25px + (40 - 25) * ((100vw - 320px) / (2000 - 320)));
            line-height: calc(30px + (50 - 30) * ((100vw - 320px) / (2000 - 320)));
            padding-left: 20px;
            padding-right: 20px;
            &::before{
                content: "";
                background-color: #cccccc;
                position: absolute;
                bottom: 3px;
                left: 0;
                right: 0;
                margin: auto;
                width: 100%;
                height: 10px;
                z-index: -1;
            }
        }
        &.kpc-fs{
            h3{
                font-size: calc(18px + (25 - 18) * ((100vw - 320px) / (2000 - 320)));
                line-height: calc(28px + (30 - 28) * ((100vw - 320px) / (2000 - 320)));
                text-transform: inherit;
                &::before{
                    bottom: 0;
                }
            }
        }
        &.kpc-spc{
            h3{
                color: #00446c;
                &::before{
                    display: none;
                }
            }
        }
    }
}

.kpc-tit-jp{
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
    h4{
        font-size: calc(18px + (28 - 18) * ((100vw - 320px) / (2000 - 320)));
        font-weight: bold;
        line-height: calc(28px + (38 - 28) * ((100vw - 320px) / (2000 - 320)));
        text-align: center;
    }
}